<div class="modal fade" id="kind-select" tabindex="-1" role="dialog" aria-labelledby="kind-selectLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="kind-selectLabel">Choisissez un type de question</h4>
      </div>
      <div class="modal-body">
      <%= link_to "Single", new_survey_question_path(@survey, question_type: "single"), class:"btn btn-primary btn-sm", remote: true %>
      <%= link_to "Multi", new_survey_question_path(@survey, question_type: "multi"), class:"btn btn-primary btn-sm", remote: true %>
      <%= link_to "Opened Numeric", new_survey_question_path(@survey, question_type: "open_numeric"), class:"btn btn-primary btn-sm", remote: true %>
      <%= link_to "Opened Text", new_survey_question_path(@survey, question_type: "open_text"), class:"btn btn-primary btn-sm", remote: true %>
      <%= link_to "Slider", new_survey_question_path(@survey, question_type: "slider"), class:"btn btn-primary btn-sm", remote: true %>
      <%= link_to "Stars", new_survey_question_path(@survey, question_type: "stars"), class:"btn btn-primary btn-sm", remote: true %>
      </div>
    </div>
  </div>
</div>



