<div class="modal fade" tabindex="-1" role="dialog" id="preview-open">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= @survey.title %></h4>
      </div>
      <div class="modal-body">

        <div id="preview-carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="false">
          <!-- Indicators -->


          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% @questions.each do |question| %>
              <div class="item">

              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= (question.rank.to_f / @questions.count.to_f) * 100 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= (question.rank.to_f / @questions.count.to_f) * 100 %>%;">
                  <%= "#{question.rank} sur #{@questions.count}" %>
                </div>
              </div>

              <%= render "questions/types_thomas/#{question.kind}", question: question %>

              </div>
            <% end %>
            <div class="item">
              <p>Ce questionnaire est maintenant terminé. Merci d'avoir pris le temps de répondre</p>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer cette page</button>
            </div>
          </div>
        </div>

     </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
