  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= simple_form_for @survey do |f| %>
        <%= f.input :title, label: "Titre de l'étude"  %>
        <%= f.input :target, collection: [ ["Ensemble de la population","nat rep"] ], include_blank: false, input_html: { readonly: "readonly" }, label: "Population à interroger" %>
        <%= f.input :country, collection: Survey.countries, include_blank: false, input_html: { readonly: "readonly" }, label: "Pays" %>
        <%= f.button :submit, "Suivant", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

