<div class="row">
  <%= render "breadcrumb" %>
</div>
<div>
  <div class="bc-content hidden" id="new-survey">
    <%= render 'survey_form' %>
  </div>
  <div class="bc-content active" id="show-survey">
    <div class="row">
      <h3><%= @survey.title %></h3>
    </div>
    <%= render "questions/index", survey: @survey %>
  </div>
  <div class="bc-content hidden" id="confirm-survey">
    <%= render 'confirm_survey', survey: @survey, price: @price %>
  </div>
  <% if @survey.questions.count > 0 %>
    <button class="preview-open btn btn-primary" data-toggle="modal" data-target="#preview-open">Prévisualiser l'étude</button>
  <% end %>
</div>


<%= render 'preview', survey: @survey %>

